.mart-editor {
  position: relative;
  --border-color:#bbb;
  height: 100%;
  // border: 1px solid;
  table{
    border-spacing: 0;
    background-color: #fefefe;
    width:100%;
    thead tr td{ 
      border-top: 1px solid var(--border-color);
    }
    tr td{
      padding: 4px 10px;
      border-bottom: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
    }

    tr td:nth-child(1) {
      border-left: 1px solid var(--border-color);
    }
  }

  .keys-action{
    // border: 1px solid;
    margin-top: 20px;
    padding: 10px;
    background-color: #bbb;

    button{
      padding: 6px 10px;
      outline-style: none;
      // border-color: #efefef;
      border: none;
      font-weight: 600;
      color: #eee;
      background-color:#3ea3f9;
    }
  }

  .keys-apply{
    margin-top: 50px;
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: right;

    button{
      margin-right: 6px;
      padding: 6px 10px;
      outline-style: none;
      border: none;
      font-weight: 600;
      color: #eee;
      cursor: pointer;
      &.clean{
        background-color: #f95353;
      }
      &.apply{
        background-color:#3ea3f9;
      }
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}